<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let dormRoom of DormRoomData">
    <img src={{dormRoom.imageSource}}>
    <h1>{{dormRoom.address}}</h1>
    <h2>{{dormRoom.numberOfBedrooms}} quartos e {{dormRoom.numberOfBathrooms}} banheiros em {{dormRoom.size}} m².
      {{dormRoom.allowsAnimals? 'P':'Não p'}}ermite animais. Atualmente possui {{dormRoom.numberOfResidents}} residentes.
      Disponível por R$ {{dormRoom.price}}</h2>
  </ion-card>
</ion-content>
