article {
    background-color: lightgrey;
    margin: 20px;
    border-radius: 10px;
    padding-bottom: 8px;
}

h1 {
    font-size: 5vw;
    margin: 8px;
}

h2 {
    font-size: 4vw;
    margin: 8px;
    color: rgb(54, 54, 54);
}

img {
    width: 100%;
    border-radius: 10px;
}

ion-title {
    text-align: center;
}
